.App {
  background-color: white;
  text-align: center;
}

body {
  margin: 0;
}

.Section-Title {
  color:black;
  white-space: pre-wrap;
  font-family: proxima-nova;
  font-size: 52px;
  line-height: 1em;
  background-color: white;
  background-size: cover;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Capitalize {
  text-transform: capitalize;
}

.Page-message {
  color: black;
  text-align: center;
  justify-content: center;
  font-family: proxima-nova;
  font-size: 30px;
  letter-spacing: 0em;
  line-height: 1em;
  margin: auto;
  padding: 70px;
  display: flex;
  flex-direction: column;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto; /* Resize the background image to cover the entire container */
  display: flex;
  background-color: white;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto; /* Resize the background image to cover the entire container */
  align-items: center;
  white-space: pre-wrap;
  margin-bottom: 40px;
}

.Page-link {
  text-decoration: none;
  font-weight: bold;
  color: #3f51b5
}