
.preview-pic
{
    margin-top: 15px;
    height: 400px;
}

.details
{
    color: black;
    max-width: 328px;
    margin-left: auto;
    margin-right: auto;
}

.Add-Div
{
    padding: 20px;
    max-width: 320px;
    margin:auto;
}

.Add-Button
{
    display: block;
    width: 100%;
}